---
import '../css/custom.css';
import Navigation from './navigation.astro';
import Layout from '../layouts/Layout.astro';
import Footer from './footer.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<Layout title="Home"></Layout>
	</head>
	<style is:global>
	</style>
	<Navigation />
	<body>
		<h1>Kismet Hub</h1>
		<br>
		<p>Your place for everything related to code!</p>
	</body>
	<Footer />
</html>
