<div class="p-4 bg-gray-200 flex space-x-4 text-center justify-center space-x-15">
    <a href="/" class="text-2xl">Home</a>
    <a href="/guides" class="text-2xl">Guides</a>
    <a href ="/contribute" class="text-2xl">Contribute</a>
</div>