@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Funnel+Display&display=swap');

h1, h2, h3, h4, h5, h6, p {
    font-family: 'Funnel Display', sans-serif;
}

a:hover {
    text-decoration: wavy underline;
    color: rgb(66, 66, 66);
}

h1 {
    font-size: 4rem;
    text-align: center;
}

h2 {
    font-size: 3rem;
    text-align: center;
}

h3 {
    font-size: 2.5rem;
    text-align: center;
}

h4 {
    font-size: 2rem;
    text-align: center;
}

p {
    font-size: 1.25rem;
    line-height: 1.75rem;
    text-align: center;
}

img {
    border-radius: 8px;
    height: auto;
    width: 70%;
    display: block;
    margin: 0 auto;
}